/* Main-Menu view */
.main-menu {
    -fx-background-color: linear-gradient(to bottom, #00D4FF, #0000AA, #0D0947);
    -fx-alignment: center;
    -fx-spacing: 10;
}

/* Main-menu title */
.title {
    -fx-font-family: 'Arial Rounded MT Bold', Arial, Sans-serif;
    -font-weight: bold;
    -fx-font-size: 75;
    -fx-text-fill: white;
}

/* Main-menu subtitle */
.subtitle {
    -fx-font-family: 'Arial Rounded MT Bold', Arial, Sans-serif;
    -font-weight: bold;
    -fx-font-size: 30;
    -fx-text-fill: white;
}

.menu-button {
    -fx-font-family: 'Arial Rounded MT Bold', Arial, Sans-serif;
    -fx-font-size: 15;
    -fx-min-width: 150;
    -fx-max-width: 150;
    -fx-min-height: 30;
    -fx-max-height: 30;
    -fx-background-color: #1E90FF;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0, 5);
}

.menu-button:hover, .back-to-main-menu-button:hover, .begin-turn-button:hover {
    -fx-background-color: #6495ED;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 15, 0.5, 0, 7);
}

.menu-button:pressed, .back-to-main-menu-button:pressed, .begin-turn-button:pressed {
    -fx-background-color: #4169E1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0.5, 0, 3);
}

/* Game-over screen */
.end-menu {
    -fx-background-color: linear-gradient(to bottom, #00D4FF, #0000AA, #0D0947);
    -fx-alignment: center;
    -fx-spacing: 10;
}

.winner-label {
    -fx-font-family: 'Arial Rounded MT Bold', Arial, Sans-serif;
    -fx-font-size: 40;
    -fx-text-fill: white;
}

/* Back-to-main-menu-button styles */
.back-to-main-menu-button {
    -fx-font-family: 'Arial Rounded MT Bold', Arial, Sans-serif;
    -fx-font-size: 20;
    -fx-min-width: 200;
    -fx-background-color: #1E90FF;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0, 5);
}

/* Waiting view */
.waiting-menu {
    -fx-background-color: linear-gradient(to bottom, #00D4FF, #0000AA, #0D0947);
    -fx-alignment: center;
    -fx-spacing: 10;
}

.waiting-label {
    -fx-font-family: 'Arial Rounded MT Bold', Arial, Sans-serif;
    -fx-font-size: 30;
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 10, 0.5, 0, 5);
}

.privacy-label {
    -fx-font-family: 'Arial Rounded MT Bold', Arial, Sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: #F53838;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 10, 0.5, 0, 5);
}

.begin-turn-button {
    -fx-font-family: 'Arial Rounded MT Bold', Arial, Sans-serif;
    -fx-font-size: 20;
    -fx-min-width: 150;
    -fx-max-width: 150;
    -fx-background-color: #1E90FF;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 10, 0.5, 0, 5);
}

/* Preparation view styles. Everything above this line is good. */
/* Side-menu */
.side-menu {
    -fx-alignment: top-center;
    -fx-spacing: 10;
    -fx-padding: 20;
}

.side-menu-label { /* Fix this. */
    -fx-font-family: 'Arial Rounded MT Bold', Arial, Sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.side-menu-button {
    -fx-font-family: 'Arial Rounded MT Bold', Arial, Sans-serif;
    -fx-font-size: 15;
    -fx-min-width: 100;
    -fx-max-width: 100;
    -fx-background-color: #191919;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0, 5);
}

.side-menu-button:hover {
    -fx-background-color: #232323;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 15, 0.5, 0, 7);
}

.side-menu-button:pressed {
    -fx-background-color: #0F0F0F;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 15, 0.5, 0, 3);
}

.grid-button {
    -fx-font-family: 'Arial Rounded MT Bold', Arial, Sans-serif;
    -fx-font-size: 15;
    -fix-pref-height: 50;
    -fx-min-width: 50;
    -fx-max-width: 50;
    -fx-background-color:
        linear-gradient(to bottom, rgba(30,144,255,0.7) 0%, rgba(30,144,255,0.7) 100%),
        linear-gradient(to bottom, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 100%);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
    -fx-border-color: rgba(30,144,255,0.8);
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-text-fill: white;
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.4), 5, 0.0, 3, 3);
}

.grid-button:hover {
    -fx-background-color: #3da5ff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0.5, 0, 2);
}

.side-menu-ship-button-horizontal {
    -fx-font-family: 'Arial Rounded MT Bold', Arial, Sans-serif;
    -fx-font-size: 10;
    -fx-background-color: linear-gradient(to bottom, #1e90ff, #1c86ee);
    -fx-text-fill: white;
    -fx-shape: "M0 0 L0 20 L-20 20 L-25 10 L-20 0 Z";
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0, 5);
    -fx-border-color: rgba(255, 255, 255, 0.2);
    -fx-border-width: 1px;
    -fx-padding: 0 0 0 10;
}

.side-menu-ship-button-vertical {
    -fx-font-family: 'Arial Rounded MT Bold', Arial, Sans-serif;
    -fx-font-size: 10;
    -fx-background-color: linear-gradient(to bottom, #1e90ff, #1c86ee);
    -fx-text-fill: white;
    -fx-shape: "M0 0 L0 20 L-10 25 L-20 20 L-20 0 Z";
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0, 5);
    -fx-border-color: rgba(255, 255, 255, 0.2);
    -fx-border-width: 1px;
    -fx-padding: 10 0 0 0;
}

.ship-box {
    -fx-background-color: rgba(0, 0, 139, 0.8);
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 20;
    -fx-border-color: rgba(255, 255, 255, 0.2);
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0, 5);
    -fx-min-width: 350px;
    -fx-max-width: 350px;
    -fx-min-height: 350px;
    -fx-max-height: 350px;
}

.grid-label {
    -fx-font-family: 'Arial Rounded MT Bold', Arial, Sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-background-color:
        linear-gradient(to bottom, rgba(30,144,255,0.7) 0%, rgba(30,144,255,0.7) 100%),
        linear-gradient(to bottom, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 100%);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
    -fx-border-color: rgba(30,144,255,0.8);
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.4), 5, 0.0, 3, 3);
}

.watery-background {
    -fx-background-color: linear-gradient(to bottom, #0077be, #019fd3);
    -fx-min-width: 100%;
    -fx-min-height: 100%;
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
    -fx-background-size: 300% 300%;
}

.side-menu-ship-button-horizontal, .side-menu-ship-button-vertical {
    -fx-font-family: 'Roboto', Arial, Sans-serif;
}

.side-menu-ship-button-horizontal:hover, .side-menu-ship-button-vertical:hover {
    -fx-background-color: linear-gradient(to bottom, #1e90ff, #1c86ee, #104a8b);
}

.placed-ship {
    -fx-background-color: linear-gradient(to bottom, #1874CD 0%, #104E8B 100%);
    -fx-border-color: #104E8B;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 3, 0.3, 1, 1);
}